<header>
    <h1>Student Management System</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Student</a>
        <a href="/manage-options">Manage</a>
        <a href="/import-export">Import and Export</a>
    </nav>

    <form action="/import-csv" method="POST" enctype="multipart/form-data">
    <input type="file" name="csvFile" accept=".csv" required>
        <button type="submit">Tải lên CSV</button>
    </form>

    <form action="/import-json" method="POST" enctype="multipart/form-data">
        <input type="file" name="jsonFile" accept=".json" required>
        <button type="submit">Tải lên JSON</button>
    </form>

    <a href="/export-csv">
        <button>Tải về CSV</button>
    </a>

    <a href="/export-json">
        <button>Tải về JSON</button>
    </a>

</header>