<header>
    <nav>
        <a href="/" class="nav-links">Trang chủ</a>
        <a href="/add">Thêm</a>
        <a href="/import-export">Nhập xuất</a>
        <a href="/manage-options">Cài đặt</a>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const links = document.querySelectorAll("nav a");
        const currentPath = window.location.pathname;

        links.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            }
        });
    });
</script>