<div class="container">
    <h1>Thêm sinh viên</h1>
    <form class="add-student-form" id="studentForm" method="POST" action="/add">
        <label><span>MSSV</span>
            <input type="text" id="id" name="id" required>
            <small class="error"></small>
        </label><br>

        <label><span>Họ tên</span>
            <input type="text" id="name" name="name" required>
            <small class="error"></small>
        </label><br>

        <label><span>Ngày sinh</span>
            <input type="date" id="dob" name="dob" required>
            <small class="error"></small>
        </label><br>

        <label><span>Giới tính</span>
            <select name="gender">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </label><br>

        <label><span>Khoa</span>
            <select id="faculty" name="faculty"></select>
        </label><br>

        <label><span>Khoá</span>
            <input type="number" id="course" name="course" required min="2000">
            <small class="error"></small>
        </label><br>

        <label><span>Chương trình</span>
            <select id="program" name="program"></select>
        </label><br>

        <label><span>Địa chỉ</span>
            <input type="text" id="address" name="address" required>
        </label><br>

        <label><span>Email</span>
            <input type="email" id="email" name="email" required>
            <small class="error"></small>
        </label><br>

        <label><span>Điện thoại</span>
            <input type="text" id="phone" name="phone" required>
            <small class="error"></small>
        </label><br>

        <label><span>Trạng thái</span>
            <select id="status" name="status"></select>
        </label><br>
        
        <button class="search-button" type="submit">Thêm sinh viên</button>
    </form>
</div>

<!-- Modal hiển thị lỗi -->
<div id="errorModal" class="modal">
  <div class="modal-content">
    <p id="modalMessage" style="margin-bottom: 1em"></p>
    <button class="update-delete-button" id="modalClose">Đóng</button>
  </div>
</div>

<script src="../utils/validate.js" defer></script>
<script src="/scripts/add-student.js" defer></script>