<div class="container">
    <h1>Nhập xuất dữ liệu</h1>

    <div class="import-export-form-container">
        <h2>Nhập</h2>
        <div class="form-container">
            <div class="form-wrapper">
                <form class="import-export-form" action="/import-csv" method="POST" enctype="multipart/form-data">
                <label for="csvFile" class="custom-file-upload">Chọn file CSV</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
                <p class="import-export-text" id="csv-file-name">Chưa chọn file CSV.</p>
                <button class="upload-button" type="submit">Tải lên CSV</button>
                </form> 
            </div>
            
            <div class="form-wrapper">
                <form class="import-export-form" action="/import-json" method="POST" enctype="multipart/form-data">
                    <label for="jsonFile" class="custom-file-upload">Chọn file JSON</label>
                    <input type="file" id="jsonFile" name="jsonFile" accept=".json" required>
                    <p class="import-export-text" id="json-file-name">Chưa chọn file JSON.</p>
                    <button class="upload-button" type="submit">Tải lên JSON</button>
                </form>
            </div>
        </div>
    </div>

    <div class="import-export-form-container">
        <h2>Xuất</h2>
        <div class="export-container">
            <a style="min-width: 50%" href="/export-csv">
                <button class="upload-button-2">Tải về CSV</button>
            </a>
            <a style="min-width: 50%" href="/export-json">
                <button class="upload-button-2">Tải về JSON</button>
            </a>
        </div>
    </div>
</div>

<script>
document.getElementById("csvFile").addEventListener("change", function() {
    document.getElementById("csv-file-name").textContent = this.files.length > 0 ? this.files[0].name : "Chưa chọn file";
});

document.getElementById("jsonFile").addEventListener("change", function() {
    document.getElementById("json-file-name").textContent = this.files.length > 0 ? this.files[0].name : "Chưa chọn file";
});
</script>