<div class="container">
    <h1>Cài đặt thông tin</h1>

    <div class="manage-options">
        <div class="option-group">
            <h3 for="email-prefix">Email</h3>
                <div>
                    @ <input class="option-group-ul" type="text" id="email-prefix" name="email-prefix" placeholder="mail">
                    . <input class="option-group-ul" type="text" id="email-domain" name="email-domain" placeholder="com">
                </div>
        </div>
    </div>

    <div class="manage-options">
        <div class="option-group">
            <h3>Khoa</h3>
            <ul id="facultyList"></ul>
            <button class="search-button" onclick="addItem('faculty')">Thêm Khoa</button>
        </div>

        <div class="option-group">
            <h3>Chương trình</h3>
            <ul id="programList"></ul>
            <button class="search-button" onclick="addItem('program')">Thêm Chương trình</button>
        </div>

        <div class="option-group">
            <h3>Trạng thái</h3>
            <ul id="statusList"></ul>
            <button class="search-button" onclick="addItem('status')">Thêm Trạng thái</button>
        </div>
    </div>

    <button class="search-button" onclick="saveChanges()">Lưu thay đổi</button>
</div>

<!-- Modal thông báo -->
<div id="messageModal" class="modal">
  <div class="modal-content">
    <p style="margin-bottom: 1em" id="modalText"></p>
    <button class="update-delete-button" id="closeModal">Đóng</button>
  </div>
</div>

<script src="/scripts/manage-options.js" defer></script>